:root {
    --tuda-0a: #DCDCDC;
    --tuda-0b: #B5B5B5;
    --tuda-0c: #898989;
    --tuda-0d: #535353;

    --tuda-2a: #65b4e4;

    --tuda-4a: #AFCC50;
    --tuda-4c: #7FAB16;

    --tuda-8b: #EC6500;

    --tuda-10a: #C9308E;
}
